#reactRoot {
  overflow-x: hidden;
  background-color: $bg-color;
}

.massiveComponent {
  &_container {
    &--color1 {
      background-color: $component-color;
    }
  }
  &_limitation {
    max-width: $general-max-w;
    margin: 0 auto;
  }
}

header {
  color: $bg-color;
}
